nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    color: transparent;
    padding: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand {
    justify-content: center;
    text-wrap: pretty;
    margin-left: auto;
    margin-right: auto;
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

nav.navbar ul {
    display: flex;
    list-style: none;
    text-wrap: nowrap;
    padding: 0px;
    margin: auto;
    gap: 20px;
    font-size: 2vw;
}

.navbar a {
    text-decoration: none;
}