#root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color-scheme: light dark;
  color: black;
  background-image: linear-gradient(silver, red);
  text-rendering: optimizeLegibility;
}

.body {
  margin: 0;
  display: flex;
  place-items: center;
}
